body {
    margin: 0;
     font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
/* Grid Layout */
.container {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
}
.menu {
    background-color: #2f86eb;
    color: white;
    padding: 20px;
}
.menu a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
.content {
    background-color: #f2f2f2;
    padding: 20px;
}
/* Responsive */
@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}